.home {
    padding: 3%;

    header {
        background-color: @maincolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @textonblue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        white-space: nowrap;

        img {
            width:150px;
            height: auto;
            margin: 0.5%;
            padding-right: 1.5em;
        }

        h1 {
            font-size: 3em;
            padding-top: 1em;
        }

        .leftside {
            width: 30%;
            justify-content: flex-start;
            align-items: baseline;
        }

        .rightside {
            justify-content: flex-end;
            white-space: nowrap;
        }
    }

    .headerpic {
        margin-bottom: 2em;
        img {
            width:100%;
            height: auto;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}