.button() {
    width: 100%;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    color: @textonblue;
    background-color: @maincolor;
    border-style: solid;
    border-color: @textonblue;
    padding: 10%;
    border-width: 2px;
    white-space: nowrap;
  }

  .textboxes() {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 2%;
    align-items: center;
    background-color: @secondcolor;
    border-radius: 10px;
    color: @textonblue;
  }

  .unorderedlist {
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
  }