.button() {
    width: 100%;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    color: @textonblue;
    background-color: @maincolor;
    border-style: solid;
    border-color: @textonblue;
    padding: 10%;
    border-width: 2px;
    white-space: nowrap;
  }