.button() {
    width: 8%;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    color: @textcolor;
    background-color: @maincolor;
    border-style: solid;
    border-color: @textcolor;
    padding: 1%;
    border-width: 2px;
    white-space: nowrap;
  }