nav {
    width: 40%;
    padding: 2.5%;
    display: flex;

    a{
        width: 300px;
        font-size: 1.5em;
        margin-right: 10%;
        text-decoration: none;
        color: @textcolor;
        white-space: nowrap;
    }
}