nav {
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    @media @phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2vw;
    }

    .signin {
        .button();
        margin: 3%;

        @media @phone {
            margin: 1vw;
            padding: 2%;
            width: 15%;
        }

        a {
            text-decoration: none;
            color: @textonblue;
            margin-right: 0;
        }
    }

    a{
        font-size: 1.6vw;
        margin-right: 1.8vw;
        text-decoration: none;
        color: @textonblue;
        white-space: nowrap;

        @media @phone {
            font-size: 4vw;
            margin-right: 0;
            padding-bottom: 2vw;
        }

        @media @tablet {
            font-size: 2.3vw;
        }
    }
}